<div class="index-nav-bar"><span class="float-left">Most recent questions</span><span class="float-right">
<ul>
  <li><%= link_to "highest-voted", "/" %></li>
  <li><%= link_to "trending", "/" %></li>
</ul>
</span>
</div>
