/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation.min.css
 */

.vote-arrow {
  width: 3em;
}

.index-nav-bar {
  padding: .5em;
  border-bottom: 1px solid #cccccc;
}

.index-nav-bar .float-right {
  float: right;
}

.index-nav-bar ul, li {
  display: inline;
}

.index-nav-bar a {
  margin: 1em;
  text-decoration: none;
}

.index-nav-bar a:hover {
  padding: .7em;
  border: 1px solid gray;
  border-bottom: none;
}

.index-content-left-side {
  display: inline-block;
}
.index-content-left-side ul{
  display: inline;
  text-align: center;
}

.index-content-left-side li {
  display: inline-block;
  padding: 1em;
}

.index-content-item {
  border-bottom: 1px solid #cccccc;

}

.index-content-right-side {
  display: inline-block;
  float: right;
}

.index-content-right-side p {
  text-align: right;
}

.main-header a {
  color: initial;
  text-decoration: none;
  vertical-align: sub;
}

.main-nav-bar ul,li {
  display: inline;
}

.main-nav-bar a {
  font-size: .4em;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 200;
  padding: .4em;
  background-color: #aaaaaa;
}

.question-field {

}
.answer-list {

}
.answer-block {
  border-top: 1px solid gray;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}
.comment-block {
  border-top: 1px solid gray;

  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.user-block {background-color: #CCCCCC; height: 7em; clear: both; vertical-align: sub;}
.answer-content{padding: 1em;}